{% extends "layout.html"%}
{% load static  %}


{% block content %} 
    <title>About </title>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">XYZ</h2>
                    <hr class="light">
                    <p class="text-faded">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac est ut ligula molestie luctus. Maecenas rhoncus dictum nisl, sit amet gravida quam ultrices ut. Donec ac turpis sed dui rhoncus efficitur eu nec nisi. Proin tincidunt dignissim elit a interdum. Pellentesque odio neque, varius non condimentum eu, molestie a turpis. Pellentesque sagittis turpis tellus, ut consectetur dui lacinia ut. Vestibulum porta dui in lectus facilisis, aliquet fringilla nibh finibus. Maecenas fringilla neque nec neque vehicula lacinia. Etiam in libero consectetur, porta purus vel, iaculis sapien. Etiam sed lobortis velit.

Nullam sodales est posuere interdum elementum. Donec varius aliquam fringilla. Nam mollis turpis urna, at consectetur tortor molestie in. Integer convallis eros at nisl vulputate, id cursus nulla mollis. Donec in nisi in arcu accumsan iaculis. Quisque rutrum ante eros, non auctor ante rutrum ut. In blandit quam in massa ornare volutpat. Nam consequat blandit tellus, non iaculis est feugiat ut. Ut eget laoreet ex. </p>
                    <a href="/rentsite/rentsite" class="page-scroll btn btn-default btn-xl sr-button">Rent right now!</a>
                </div>
            </div>
        </div>
    </section>

   {% endblock %} 
                

  