{% extends "layout.html" %}
{% load static  %}


{% block content %}

                   
    <title>Home  </title>  

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="color: #000000">Your Imagine Apartament<br> Wait for You </h1>
                <p style="color: #000000">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="/rentsite/rentsite" class="btn btn-primary btn-xl page-scroll">Rent right now!</a>
            </div>
        </div>
    </header>

    {% endblock %}

    

    

    
                

    

    