{% extends "layout.html" %}
{% load static  %}

{% block content%}
 <title>Rent now </title>
<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="color: #000000">Your  Source of Free<br> Bootstrap Themes</h1>
                
                <p style="color: #000000"><b>Start Bootstrap can help you build better websites 
                using the Bootstrap CSS framework!<br> Just download your template and start going, no strings attached!<b></p>
              
            </div>
        </div>
    </header>

 {% endblock %}
    
